
_ReSharper.Caches/

.vs/

EFC_Tools/bin/

EFC_Tools/obj/

Order.Business/bin/

Order.Business/obj/

Order.Data.Ef/bin/

Order.Data.Ef/obj/

Order.Glue/bin/

Order.Glue/obj/

Order.Service/bin/

Order.Service/obj/

Order.Tests/bin/

Order.Tests/obj/
