<br/>
<div class="p-fluid p-grid">
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="nameInput" type="text" pInputText [(ngModel)]="data.customerName">
      <label for="nameInput">Customer Name</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="addressLine1Input" type="text" pInputText [(ngModel)]="data.addressLine1">
      <label for="addressLine1Input">addressLine1</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="addressLine2Input" type="text" pInputText [(ngModel)]="data.addressLine2">
      <label for="addressLine2Input">addressLine2</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="cityInput" type="text" pInputText [(ngModel)]="data.city">
      <label for="cityInput">city</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="stateInput" type="text" pInputText [(ngModel)]="data.state">
      <label for="stateInput">state</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="zipInput" type="text" pInputText [(ngModel)]="data.zip">
      <label for="zipInput">zip</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="countryInput" type="text" pInputText [(ngModel)]="data.country">
      <label for="countryInput">country</label>
    </span>
  </div>
  <br/>
</div>