<br/>
<div class="p-fluid p-grid">
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="productNameInput" type="text" pInputText [(ngModel)]="data.productName">
      <label for="productNameInput">Product Name</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="productInitialPriceInput" type="number" [(ngModel)]="data.pricePerItem" min="0" step="0.01" class="currency"/> <!--this works in Chrome but not in Firefox TODO:work on cross browser support-->
      <label for="productInitialPriceInput">Initial Price</label>
    </span>
  </div>
  <br/>
  <div class="p-field p-col-12 p-md-4">
    <span class="p-float-label">
      <input id="averageCustomerRatingInput" type="number" [(ngModel)]="data.averageCustomerRating" min="0" step="1" /> <!--this works in Chrome but not in Firefox TODO:work on cross browser support-->
      <label for="averageCustomerRatingInput">Rating</label>
    </span>
  </div>
</div>

